# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Fighting-Game-Tutorial.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Learning Unity\Fighting-Game-Tutorial\.idea\.idea.Fighting-Game-Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
